<div class="layout-footer  p-ai-center p-p-4 p-shadow-2">
    <div class="p-grid p-fluid">
        <div class="p-col-1">
            <img src="../../../../../assets/Picture1.png" height="40" class="p-mr-2">
        </div>
        <div class="p-col-7">
            <div class=" p-text-italic">
                &copy; Copyright <strong><span>J. Collantes, J. Quiñónez</span></strong>. Todos los derechos reservados
            </div>
            <div class="p-text-italic">
                Diseñado por <a href="">Limp Inc.</a>
            </div>
        </div>
        <div class="p-col-4 social-links" style="text-align: center;">
            <div class="p-grid">
                <div class="p-col-3">
                    <i class="fa fa-twitter" style="font-size: 1.5rem;"></i>
                </div>
                <div class="p-col-3">
                    <i class="fa fa-facebook" style="font-size: 1.5rem;"></i>
                </div>
                <div class="p-col-3">
                    <i class="fa fa-instagram" style="font-size: 1.5rem;"></i>
                </div>
                <div class="p-col-3">
                    <i class="fa fa-linkedin" style="font-size: 1.5rem;"></i>
                </div>
            </div>
        </div>
    </div>
</div>

