<p-toast></p-toast>
<div class="p-mb-3 p-text-italic">
    <h3>Detalle de la cuenta</h3>
</div>
<p-card>
    <form [formGroup]="formUser" (ngSubmit)="onUpdate()">

        <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-user"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" id="name" pInputText formControlName="nameuser">
                        <label for="inputgroup">Nombre</label>
                    </span>
                </div>
                <small *ngIf="formUser.get('nameuser')?.errors && (formUser.get('nameuser')?.dirty ||
                formUser.get('nameuser')?.touched)" class="p-error block">
                    <small *ngIf="formUser.get('nameuser').errors?.required">
                        Requerido
                    </small>
                </small>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-user"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" id="lastname" pInputText formControlName="lastname">
                        <label for="inputgroup">Apellido</label>
                    </span>
                </div>
                <small *ngIf="formUser.get('lastname')?.errors && (formUser.get('lastname')?.dirty ||
                formUser.get('lastname')?.touched)" class="p-error block">
                    <small *ngIf="formUser.get('lastname').errors?.required">
                        Requerido
                    </small>
                </small>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-phone"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" id="phone" pInputText formControlName="phonenumber" maxlength="10"
                            (keypress)="sharedFuntions.enterOnlyNumbers($event)">
                        <label for="inputgroup">Telefono</label>
                    </span>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-envelope "></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" id="email" pInputText formControlName="email">
                        <label for="inputgroup">Correo electrónico</label>
                    </span>
                </div>
                <small *ngIf="formUser.get('email')?.errors && (formUser.get('email')?.dirty ||
                formUser.get('email')?.touched)" class="p-error block">
                    <small *ngIf="formUser.get('email').errors?.required">
                        Requerido
                    </small>
                    <small *ngIf="formUser.get('email').errors?.mustMatch">
                        {{formUser.get('email').errors?.mustMatch}}
                    </small>
                </small>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-lock "></i>
                    </span>
                    <span class="p-float-label">
                        <input type="password" pPassword formControlName="password" />
                        <label for="inputgroup">Contraseña</label>
                    </span>
                </div>
                <small *ngIf="formUser.get('password')?.errors && (formUser.get('password')?.dirty ||
                formUser.get('password')?.touched)" class="p-error block">
                    <small *ngIf="formUser.get('password').errors?.required">
                        Requerido
                    </small>
                </small>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-lock"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="password" pPassword formControlName="confirmpassword" />
                        <label for="inputgroup">Repita contraseña</label>
                    </span>
                </div>
                <div *ngIf="formUser.controls.confirmpassword.errors && formUser.controls.confirmpassword.touched"
                    style='color:#ff7355'>
                    <div *ngIf="formUser.controls.confirmpassword.errors?.required">Campo requerido</div>
                    <div *ngIf="formUser.controls.confirmpassword.errors?.mustMatch">Las contraseñas deben
                        coincidir</div>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <span for="dropdown">Provincia</span>
                <p-dropdown [options]="dropprovince" (onChange)="onChangueProvince($event)" formControlName="province">
                </p-dropdown>
                <small *ngIf="formUser.get('province')?.errors && (formUser.get('province')?.dirty ||
                formUser.get('province')?.touched)" class="p-error block">
                    <small *ngIf="formUser.get('province').errors?.required">
                        Requerido
                    </small>
                </small>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <span for="dropdown">Ciudad</span>
                <p-dropdown [options]="dropcity" formControlName="city"></p-dropdown>
                <small *ngIf="formUser.get('city')?.errors && (formUser.get('city')?.dirty ||
                formUser.get('city')?.touched)" class="p-error block">
                    <small *ngIf="formUser.get('city').errors?.required">
                        Requerido
                    </small>
                </small>
            </div>
        </div>
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <button *ngIf="!editable" pButton pRipple type="button" label="Cancelar edición" (click)="onCancelEdit()"
                    class="p-button-raised p-button-rounded p-button-warning p-mr-2 p-mb-2" icon="pi pi-times"
                    style="float: right" >
                </button>
            </div>
            <div class="p-toolbar-group-right">
                <button pButton pRipple type="button" [label]=" editable ? 'Editar' : 'Editando...'" (click)="onEdit()"
                    class="p-button-raised p-button-rounded p-button-primary p-mr-2 p-mb-2" [icon]=" !editable ? 'pi pi-user-edit' : 'pi pi-pencil'"
                    style="float: right">
                </button>
                <button *ngIf="!editable" pButton pRipple type="button" label="Guardar" icon="pi pi-save" (click)="onUpdate()"
                    class="p-button-raised p-button-rounded p-button-success p-mr-2 p-mb-2 " style="float: right">
                </button>
            </div>
        </p-toolbar>
    </form>
</p-card>