.layout-content {
    padding: 2rem !important;
    padding-top: 1rem !important;
    flex: 1 1 0;
    margin-left: 14rem;
    background-color: #f7f7f7;
    overflow-y : auto;
}
.menu-wrapper {
    height: calc(100% - 10rem);
    width: 14rem;
    position: absolute;
    left: 0;
    top: 4rem;
    z-index: 997;
    transform: none;
    overflow-y : auto;
}
.layout-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 92vh;
}
.layout-menu-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y : auto;
  }

.pantalla {
    max-height: 100px;
    
}
/* TOP BAR */
.layout-topbar {
    position: relative;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    height: 4rem;
    transition: width 0.2s;
    display: block;
    background-color: rgb(8, 100, 143);
}
.layout-topbar ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style-type: none;
}
.layout-topbar .layout-topbar-left {
    display: flex;
    align-items: left;
    height: 100%;
    position: relative;
}
.layout-topbar .layout-topbar-right {
    display: flex;
    flex-grow: 1;
    align-items: center;
    /* justify-content: space-between; */
    padding-left: 2rem;
    height: 100%;
}

.layout-topbar .layout-topbar-left .layout-topbar-logo {
    width: 17rem;
    height: 100%;
    padding-right: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.layout-topbar .layout-topbar-left .layout-menu-button {
    position: absolute;
    top: 50%;
    left: 15.75rem;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: -1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
}
.layout-topbar .layout-topbar-left .layout-menu-two {
    position: absolute;
    top: 50%;
    left: 72.75rem;
    width: 3.5rem;
    height: 2.5rem;
    margin-top: -1.25rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    border-radius: 50%;
}
.layout-topbar .layout-topbar-left .layout-menu-three {
    position: absolute;
    top: 50%;
    left: 68.75rem;
    width: 3.5rem;
    height: 2.5rem;
    margin-top: -1.25rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    border-radius: 50%;
}
:host ::ng-deep .p-menubar {
    background-color: #1E65AE !important;
  }
  :host ::ng-deep .p-menuitem-text {
    color: whitesmoke;
  }
  :host
    ::ng-deep
    .p-menubar
    .p-menubar-root-list
    > .p-menuitem
    > .p-menuitem-link
    .p-menuitem-text {
    color: #ffff;
  }
  

  