<footer class="back">
    <div class="row">
        <div class="col-1">
            <div class="container">
                <div class="col-4">
                    <a href="https://www.facebook.com" class="text-cente">
                        <i class="fab fa-facebook-square white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                </div>
                <div class="col-4">
                    <a href="https://www.instagram.com" class="text-cente">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                </div>
                <div class="col-4">
                    <a href="https://web.whatsapp.com " class="text-cente">
                        <i class="fab fa-whatsapp fa-lg white-text  mr-md-5 mr-3 fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-11">
            <div class="container text-center">
                <img class="imgfooter" src="../../../../assets/Picture1.png" alt="">
                <p class="text-center text-white">Poligono Industrial El Labradorcico, Avda. José Jiménez Ruano, S/N,
                    30880
                    Águilas (Murcia) 616 045 857 -
                    servi@limpia.es REGISTRO SANITARIO N.R.S.I.: 28-002511/MU</p>
                <div class="footer-copyright text-center text-white py-3">© 2021 Copyright- TESIS de GRADO
                </div>
            </div>
        </div>
    </div>
</footer>