<!-- <app-navigatebar></app-navigatebar> -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatcto</title>
</head>

<header class="site-header inicio mb-5">
    <div class="contenedor contenido-header">
        <h1 style="font-style: italic;">Contacto</h1>
    </div>
</header>


<body>
    <div class="container-fluid">
        <div style="width: 1140px; margin: auto;">
            <section class="pb-5 pt-5">
                <div class="container-fluid card">
                    <div class="row">
                        <div class="col-md-8 bg-dark">
                            <div class="d-flex align-items-center py-5">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-10 col-xl-7 mx-auto">
                                            <h4 style="color: aliceblue;">Formulario de contacto</h4>
                                            <form>
                                                <div class="form-group mb-5  mt-5 row">
                                                    <div class="col-6">
                                                        <input id="inputEmail" type="email" placeholder="Nombre"
                                                            required="" autofocus=""
                                                            class="form-control rounded-pill border-0 shadow-sm px-4">
                                                    </div>
                                                    <div class="col-6">
                                                        <input id="inputEmail" type="email" placeholder="Correo"
                                                            required="" autofocus=""
                                                            class="form-control rounded-pill border-0 shadow-sm px-4">
                                                    </div>
                                                </div>
                                                <div class="form-group mb-5">
                                                    <textarea style="height: 150px;" class="form-control"
                                                        placeholder="Mensaje" id="floatingTextarea"></textarea>
                                                    <!-- <label for="floatingTextarea">Comments</label> -->

                                                </div>
                                                <div class="container text-center col-6">
                                                    <button type="submit"
                                                        class="btn btn-primary text-uppercase mb-2 btn-block  rounded-pill shadow-sm">
                                                        Enviar
                                                    </button>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 bg-light">
                            <div class="d-flex align-items-center py-5">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-10 col-xl-7 mx-auto" style="text-align: center;">
                                            <h5>Como contactarnos</h5>
                                            <p class="text-muted mb-4">CONTACTE CON GENERIC SA., LE ASESORAREMOS PARA
                                                PODER
                                                ATENDER
                                                SUS NECESIDADES
                                            </p>
                                            <h5>Split page!</h5>
                                            <p class="text-muted mb-4">LUN - VIE : 09:00 - 19:00 h SÁBADOS : 09:00 -
                                                14:00 h
                                                DOMINGOS CERRADO
                                            </p>
                                            <h5>Información de contacto</h5>
                                            <p class="text-muted mb-4">Pol. Ind. El Labradorcico
                                                Avd. José Jiménez Ruano S/N
                                                30880 - Águilas (Murcia) 616 045 857 contacto@sislimp.es.</p>

                                        </div>
                                    </div>
                                </div><!-- End -->
                            </div>
                        </div><!-- End -->
                    </div>
                </div>
            </section>
        </div>
        <section class="pt-5">
            <div class="shadow-lg"><iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.292432942496!2d-78.6204551288899!3d-0.9302768711790821!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d461ae9bf41d89%3A0x1e86df95127b5e39!2sAv%20Unidad%20Nacional%20745!5e0!3m2!1sen!2sec!4v1626658458155!5m2!1sen!2sec"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </section>
    </div>
</body>

</html>
<!-- <app-footer></app-footer> -->