<p-toast></p-toast>
<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
        <h2>Contacto</h2>
        <p>Datos y medios de constactarnos</p>
    </div>
</div>
<br>
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Dirección:</h4>
                        <p>Vía a Nabisco Mulalo (Latacunga)</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Correo electrónico:</h4>
                        <p>support@asoserlat.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Teléfono:</h4>
                        <p>(+593) 0996 992 4446</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 mt-5 mt-lg-0">
                <form [formGroup]="formContact" (ngSubmit)="onSendMenssage()">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Nombre"
                                formControlName="name">
                            <small *ngIf="formContact.get('name')?.errors && (formContact.get('name')?.dirty ||
                                formContact.get('name')?.touched)" class="p-error block">
                                <small *ngIf="formContact.get('name').errors?.required">
                                    Requerido
                                </small>
                            </small>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Correo"
                                formControlName="email">
                            <small *ngIf="formContact.get('email')?.errors && (formContact.get('email')?.dirty ||
                                formContact.get('email')?.touched)" class="p-error block">
                                <small *ngIf="formContact.get('email').errors?.required">
                                    Requerido
                                </small>
                                <small *ngIf="formContact.get('email').errors?.mustMatch">
                                    {{formContact.get('email').errors?.mustMatch}}
                                </small>
                            </small>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto"
                            formControlName="subject">
                        <small *ngIf="formContact.get('subject')?.errors && (formContact.get('subject')?.dirty ||
                                formContact.get('subject')?.touched)" class="p-error block">
                            <small *ngIf="formContact.get('subject').errors?.required">
                                Requerido
                            </small>
                        </small>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Mensaje"
                            formControlName="message"></textarea>
                        <small *ngIf="formContact.get('message')?.errors && (formContact.get('message')?.dirty ||
                                formContact.get('message')?.touched)" class="p-error block">
                            <small *ngIf="formContact.get('message').errors?.required">
                                Requerido
                            </small>
                        </small>
                    </div>
                    <div class="my-3">
                        <div class="loading">Cargando</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Tu mensaje ha sido enviado. Gracias!</div>
                    </div>
                    <div class="text-center"><button type="submit">Enviar mensaje</button></div>
                </form>
            </div>
        </div>
    </div>
</section>
<br>
<section class="pt-5">
    <div class="shadow-lg">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.2878278607136!2d-78.61827618504788!3d-0.9343411993184106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d461a8bb4c1bed%3A0xf62b3480cd47249e!2sC.%20Belisario%20Quevedo!5e0!3m2!1sen!2sec!4v1647729428860!5m2!1sen!2sec"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
    </div>
</section>
<br>