

.site-header.inicio {
    background-image: url(../../../../assets/picturespage/imagetop.svg);
    background-position: center center;
    background-size: cover;
    height: 200px;
    width: 100%;
    max-width: 100%;
}
.contenedor {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.contenido-header h1 {
    margin-top: 150px;
    color: #3d3c3c;
    /* background-color: grey; */
    opacity: 0.8;
}

hr.hr-text {
    position: relative;
      border: none;
      height: 1px;
      background: #999;
}
hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-weight: bold;
    font-size: 0.85rem;
    font-style: italic;
    color: rgb(0, 0, 0);
    border-radius: 30rem;
    padding: 0.2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact {
    padding-top: 5px;
  }
  .contact .info {
    width: 100%;
    background: #fff;
  }
  .contact .info i {
    font-size: 20px;
    color: #1E65AE;
    float: left;
    width: 44px;
    height: 44px;
    background: #ecf9f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #37423b;
  }
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #657a6d;
  }
  .contact .info .email, .contact .info .phone {
    margin-top: 40px;
  }
  .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
    background: #1E65AE;
    color: #fff;
  }
  .contact form {
    width: 100%;
    background: #fff;
  }
  .contact form .form-group {
    padding-bottom: 8px;
  }
  .contact form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  .contact form .error-message br + br {
    margin-top: 25px;
  }
  .contact form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .contact form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  .contact form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  .contact form input, .contact form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
  }
  .contact form input:focus, .contact form textarea:focus {
    border-color: #1E65AE;
  }
  .contact form input {
    height: 44px;
  }
  .contact form textarea {
    padding: 10px 12px;
  }
  .contact form button[type=submit] {
    background: #1E65AE;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  .contact form button[type=submit]:hover {
    background: #3ac162;
  }
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }