<div class="p-mb-3 p-text-italic">
    <h3>Catalogo de servicios</h3>
</div>
<p-card>
    <p-tabView>
        <p-tabPanel header="Formulario de Servicios">
            <div class="card-header">
                Formulario de Servicios
            </div>
            <br>
            <div class="p-fluid p-grid">
                <div class="p-field p-col-12 p-md-2"></div>
                <div class="p-field p-col-12 p-md-8" style="text-align: center;">
                    <h5>Imagen</h5>
                    <p-fileUpload name="demo[]" url="./upload.php" chooseLabel="Seleccionar" uploadLabel="Subir" cancelLabel="Cancelar" multiple="multiple"
                        accept="image/*" maxFileSize="1000000">
                    </p-fileUpload>
                </div>
                <div class="p-field p-col-12 p-md-2"></div>
                <div class="p-field p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-user"></i>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="inputgroup" pInputText>
                            <label for="inputgroup">Codigo de servicio</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-id-card"></i>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="inputgroup" pInputText>
                            <label for="inputgroup">Nombre</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="drop"
                            [(ngModel)]="fordropt" optionLabel="name"></p-dropdown>
                        <label for="dropdown">Tipo</label>
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-phone"></i>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="inputgroup" pInputText>
                            <label for="inputgroup">Precio por hora</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-phone"></i>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="inputgroup" pInputText>
                            <label for="inputgroup">Precio por metro</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-12">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-globe"></i>
                        </span>
                        <span class="p-float-label">
                            <textarea id="float-input" rows="5" cols="30" pInputTextarea></textarea>
                            <label for="inputgroup">Descripcion</label>
                        </span>
                    </div>
                </div>
            </div>
            <p-toolbar>
                <div class="p-toolbar-group-left">
                </div>
                <div class="p-toolbar-group-right">
                    <button pButton pRipple type="button" label="Agregar" icon="pi pi-save"
                        class="p-button-raised p-button-rounded p-button-success p-mr-2 p-mb-2 " style="float: right">
                    </button>
                </div>
            </p-toolbar>
        </p-tabPanel>
        <p-tabPanel header="Servicios publicados">
            <p-table [value]="dataFromdb" styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped"
                [responsive]="true" [paginator]="true" [rows]="pageSize" dataKey="code"
                [rowsPerPageOptions]="[10,30,60]" [totalRecords]="sizeRecords" [lazy]="true" [autoLayout]="true"
                [columns]="cols">
                <ng-template pTemplate="caption">
                    Listado
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <ng-container *ngFor="let col of columns">
                            <th>
                                {{col.header}}
                            </th>
                        </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dataFrom let-index="rowIndex" let-columns="columns">
                    <tr>
                        <td>
                            <span class="p-column-title">Código</span>
                            {{dataFrom.code}}
                        </td>
                        <td>
                            <span class="p-column-title">Tipo</span>
                            {{dataFrom.type}}
                        </td>
                        <td>
                            <span class="p-column-title">Nombre</span>
                            {{dataFrom.name}}
                        </td>
                        <td>
                            <span class="p-column-title">Precio por metro</span>
                            {{dataFrom.pricemeter}}
                        </td>
                        <td>
                            <span class="p-column-title">Precio por hora</span>
                            {{dataFrom.pricehour}}
                        </td>
                        <td>
                            <span class="p-column-title">Horas base</span>
                            {{dataFrom.basehours}}
                        </td>
                        <td>
                            <span class="p-column-title">Descripción</span>
                            {{dataFrom.description}}
                        </td>
                        <td>
                            <span class="p-column-title">Imagen</span>
                            {{dataFrom.image}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    No hay registros que mostrar
                </ng-template>
            </p-table>
        </p-tabPanel>
    </p-tabView>
</p-card>
