<p-toast></p-toast>
<div class="p-mb-3 p-text-italic">
    <h3>Catálogo de servicios</h3>
</div>
<p-card>
    <p-tabView [(activeIndex)]="activeIndex1">
        <p-tabPanel header="Servicios publicados">
            <p-table [value]="dataFromdb" styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped"
                [responsive]="true" [paginator]="true" [rows]="pageSize" dataKey="seqcatservice"
                [rowsPerPageOptions]="[10,30,60]" [totalRecords]="sizeRecords" [lazy]="true" [autoLayout]="true"
                [columns]="cols" (onLazyLoad)="chargeData($event)" responsiveLayout="scroll" editMode="row">
                <ng-template pTemplate="caption">
                    Listado
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <ng-container *ngFor="let col of columns">
                            <th NOWRAP>
                                {{col.header}}
                            </th>
                        </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dataFrom let-index="rowIndex" let-editing="editing"
                    let-columns="columns">
                    <tr [pEditableRow]="dataFrom">
                        <td NOWRAP>
                            <span class="p-column-title">Código</span>
                            {{dataFrom.codeservice}}
                        </td>
                        <td NOWRAP>
                            <span class="p-column-title">Tipo</span>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="drop" [(ngModel)]="dataFrom.type"></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{dataFrom.type | selectedItemPipe:drop}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <span class="p-column-title">Nombre</span>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="dataFrom.nameservice">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{dataFrom.nameservice}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <span class="p-column-title">Precio por metro</span>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="dataFrom.meterprize">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{dataFrom.meterprize}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <span class="p-column-title">Precio por hora</span>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="dataFrom.hourprize">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{dataFrom.hourprize}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <span class="p-column-title">Descripción</span>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <textarea id="float-input" rows="3" cols="30" pInputTextarea
                                        [(ngModel)]="dataFrom.description"></textarea>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{dataFrom.description}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <span class="p-column-title">Imagen</span>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-fileUpload name="demo[]" [files]="myfiles" chooseLabel="Seleccionar"
                                        uploadLabel="Subir" cancelLabel="Cancelar" accept="image/*"
                                        maxFileSize="1000000" customUpload="true"
                                        (uploadHandler)="uploadFileEdit($event, dataFrom)">
                                        <ng-template pTemplate="content">
                                            <ul *ngIf="fileUploades.length">
                                                <li>{{fileUploades[0]?.name}}</li>
                                            </ul>
                                        </ng-template>
                                    </p-fileUpload>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <img src="{{dataFrom.img}}" alt="" width="50" height="50" />
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="text-align:center">
                            <button *ngIf="!editing" (click)="onRowEditInit(dataFrom)" pButton pRipple type="button"
                                pInitEditableRow icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
                            <button *ngIf="!editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-trash"
                                (click)="deleteCustomerService(dataFrom.seqcatservice)"
                                class="p-button-rounded p-button-text p-button-danger"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                                (click)="onRowEditSave(dataFrom)"
                                class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                                (click)="onRowEditCancel(dataFrom, index)"
                                class="p-button-rounded p-button-text p-button-danger"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    No hay registros que mostrar
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Formulario de Servicios">
            <div class="card-header">
                Formulario de Servicios
            </div>
            <br>
            <form [formGroup]="formService" (ngSubmit)="validateForm()">
                <div class="p-fluid p-grid">
                    <div class="p-field p-col-12 p-md-2"></div>
                    <div class="p-field p-col-12 p-md-8" style="text-align: center;">
                        <h5>Imagen</h5>
                        <p-fileUpload name="demo[]" [files]="myfiles" chooseLabel="Seleccionar" uploadLabel="Subir"
                            cancelLabel="Cancelar" accept="image/*" maxFileSize="1000000" customUpload="true"
                            (uploadHandler)="uploadFileNew($event)">
                            <ng-template pTemplate="content">
                                <ul *ngIf="fileUploades.length">
                                    <li>{{fileUploades[0]?.name}}</li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                        <small *ngIf="formService.get('img')?.errors && (formService.get('img')?.dirty ||
                        formService.get('img')?.touched)" class="p-error block">
                            <small *ngIf="formService.get('img').errors?.required">
                                Requerido
                            </small>
                        </small>
                    </div>
                    <div class="p-field p-col-12 p-md-2"></div>
                    <div class="p-field p-col-12 p-md-6">
                        <span>Código de servicio</span>
                        <p-inputMask mask="aaa-9999" formControlName="codeService" placeholder="AAA-9999">
                        </p-inputMask>
                        <small *ngIf="formService.get('codeService')?.errors && (formService.get('codeService')?.dirty ||
                        formService.get('codeService')?.touched)" class="p-error block">
                            <small *ngIf="formService.get('codeService').errors?.required">
                                Requerido
                            </small>
                            <small *ngIf="formService.get('codeService').errors?.codeService">
                                {{formService.get('codeService').errors?.codeService}}
                            </small>
                        </small>
                    </div>
                    <div class="p-field p-col-12 p-md-6">
                        <span for="inputgroup">Nombre</span>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="fa fa-product-hunt"></i>
                            </span>
                            <input type="text" id="inputgroup" pInputText formControlName="name">
                        </div>
                        <small *ngIf="formService.get('name')?.errors && (formService.get('name')?.dirty ||
                        formService.get('name')?.touched)" class="p-error block">
                            <small *ngIf="formService.get('name').errors?.required">
                                Requerido
                            </small>
                        </small>
                    </div>
                    <div class="p-field p-col-12 p-md-6">
                        <span>Tipo</span>
                        <p-dropdown [options]="drop" formControlName="type"></p-dropdown>
                        <small *ngIf="formService.get('type')?.errors && (formService.get('type')?.dirty ||
                        formService.get('type')?.touched)" class="p-error block">
                            <small *ngIf="formService.get('type').errors?.required">
                                Requerido
                            </small>
                        </small>
                    </div>
                    <div class="p-field p-col-12 p-md-6">
                        <span>Precio por hora</span>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="fa fa-usd"></i>
                            </span>
                            <!-- <input type="text" id="inputgroup" pInputText formControlName="hourprice"> -->
                            <p-inputNumber formControlName="hourprice" inputId="locale-us" mode="decimal" locale="en-US"
                                [minFractionDigits]="2" (keypress)="sharedFuntions.enterOnlyNumbers($event)">
                            </p-inputNumber>
                        </div>
                        <small *ngIf="formService.get('hourprice')?.errors && (formService.get('hourprice')?.dirty ||
                        formService.get('hourprice')?.touched)" class="p-error block">
                            <small *ngIf="formService.get('hourprice').errors?.required">
                                Requerido
                            </small>
                        </small>
                    </div>
                    <div class="p-field p-col-12 p-md-6">
                        <span for="inputgroup">Precio por metro</span>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="fa fa-usd"></i>
                            </span>
                            <!-- <input type="text" id="inputgroup" pInputText formControlName="meterprice"> -->
                            <p-inputNumber formControlName="meterprice" inputId="locale-us" mode="decimal" locale="en-US"
                                [minFractionDigits]="2" (keypress)="sharedFuntions.enterOnlyNumbers($event)">
                            </p-inputNumber>
                        </div>
                        <small *ngIf="formService.get('meterprice')?.errors && (formService.get('meterprice')?.dirty ||
                        formService.get('meterprice')?.touched)" class="p-error block">
                            <small *ngIf="formService.get('meterprice').errors?.required">
                                Requerido
                            </small>
                        </small>
                    </div>
                    <div class="p-field p-col-12 p-md-12">
                        <span>Descripcion</span>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-info-circle"></i>
                            </span>
                            <textarea id="float-input" rows="5" cols="30" pInputTextarea
                                formControlName="description"></textarea>
                        </div>
                        <small *ngIf="formService.get('description')?.errors && (formService.get('description')?.dirty ||
                        formService.get('description')?.touched)" class="p-error block">
                            <small *ngIf="formService.get('description').errors?.required">
                                Requerido
                            </small>
                        </small>
                    </div>
                </div>
            </form>
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <button pButton pRipple type="button" label="Cancelar" icon="pi pi-arrow-left"
                        (click)="cancelForm()" class="p-button-raised p-button-rounded p-button-danger p-mr-2 p-mb-2 "
                        style="float: right">
                    </button>
                </div>
                <div class="p-toolbar-group-right">
                    <button pButton pRipple type="button" label="Agregar" icon="pi pi-save"
                        class="p-button-raised p-button-rounded p-button-success p-mr-2 p-mb-2 "
                        (click)="validateForm()" style="float: right">
                    </button>
                </div>
            </p-toolbar>
        </p-tabPanel>
    </p-tabView>
</p-card>