.site-header.inicio {
    background-image: url(../../../../assets/picturespage/imagetop.svg);
    background-position: center center;
    background-size: cover;
    height: 200px;
    width: 100%;
    max-width: 100%;
}
.contenedor {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.contenido-header h1 {
    margin-top: 150px;
    color: #3d3c3c;
    /* background-color: grey; */
    opacity: 0.8;
}
.imgpro {
    height: 50%;
    width: 50%;
    /* padding: 5%; */
}

.custom-scrollbar-css {
    height: 280px;
  }
  
  
  /* Custom Scrollbar using CSS */
  .custom-scrollbar-css {
    overflow-y: scroll;
  }
  
  /* scrollbar width */
  .custom-scrollbar-css::-webkit-scrollbar {
    width: 5px;
  }
  
  /* scrollbar track */
  .custom-scrollbar-css::-webkit-scrollbar-track {
    background: #eee;
  }
  
  /* scrollbar handle */
  .custom-scrollbar-css::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #00d2ff;
    background-image: linear-gradient(to top, #00d2ff 0%, #3a7bd5 100%);
  }
  

  /*--------------------------------------------------------------
# Courses
--------------------------------------------------------------*/
.courses .course-item {
  border-radius: 5px;
  border: 1px solid #eef0ef;
}
.courses .course-content {
  padding: 15px;
}
.courses .course-content h3 {
  font-weight: 700;
  font-size: 20px;
}
.courses .course-content h3 a {
  color: #37423b;
  transition: 0.3s;
}
.courses .course-content h3 a:hover {
  color: #1E65AE;
}
.courses .course-content p {
  font-size: 14px;
  color: #777777;
}
.courses .course-content h4 {
  font-size: 14px;
  background: #1E65AE;
  padding: 7px 14px;
  color: #fff;
  margin: 0;
}
.courses .course-content .price {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: #37423b;
}
.courses .trainer {
  padding-top: 15px;
  border-top: 1px solid #eef0ef;
}
.courses .trainer .trainer-profile img {
  max-width: 50px;
  border-radius: 50px;
}
.courses .trainer .trainer-profile span {
  padding-left: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #5a6c60;
}
.courses .trainer .trainer-rank {
  font-size: 18px;
  color: #657a6d;
}