
<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
        <h2>Sobre nosotros</h2>
        <p>Aqui podras encontrar un poco de información acerca de nosotros y nuestros logros</p>
    </div>
</div>
<br>
<section id="about" class="about">
    <div class="container">
        <ng-container>
            <div class="card mb-5 border-0 rounded-3">
                <div class="row">
                    <div class="col-6 justify-content-center text-center">
                        <img class="imgAbout" src="../../../../assets/picturespage/about_1.jpeg" alt="">
                    </div>
                    <div class="col-6 text-justify">
                        <h6>Nuestra historia</h6>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis impedit illum
                            voluptatibus soluta
                            adipisci, delectus exercitationem error est dolor tempora deleniti. Recusandae ullam in
                            possimus
                            maxime
                            tempore, nemo iusto aliquid.
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis impedit illum
                            voluptatibus
                            soluta
                            adipisci, delectus exercitationem error est dolor tempora deleniti. Recusandae ullam in
                            possimus
                            maxime
                            tempore, nemo iusto aliquid.

                        </p>
                    </div>
                </div>
            </div>
            <div class="card mb-5  border-0 rounded-3 ">
                <div class="row">
                    <div class="col-6 text-justify">
                        <h6>Misión</h6>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis impedit illum
                            voluptatibus
                            soluta
                            adipisci, delectus exercitationem error est dolor tempora deleniti. Recusandae ullam in
                            possimus
                            maxime
                            tempore, nemo iusto aliquid.</p>
                    </div>
                    <div class="col-6 justify-content-center text-center">
                        <img class="imgAbout" src="../../../../assets/picturespage/about_2.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div class="card mb-5  border-0 rounded-3 ">
                <div class="row">
                    <div class="col-6 justify-content-center text-center">
                        <img class="imgAbout" src="../../../../assets/picturespage/about_3.png" alt="">
                    </div>
                    <div class="col-6 text-justify">
                        <h6>Visión</h6>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis
                            impedit illum voluptatibus soluta
                            adipisci, delectus exercitationem error est dolor tempora deleniti. Recusandae ullam in
                            possimus
                            maxime
                            tempore, nemo iusto aliquid.</p>
                    </div>
                </div>
            </div>
            <div class="card mb-5  border-0 rounded-3 ">
                <div class="row">
                    <div class="col-6 text-justify">
                        <h6>Valores</h6>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis
                            impedit illum voluptatibus soluta
                            adipisci, delectus exercitationem error est dolor tempora deleniti. Recusandae ullam in
                            possimus
                            maxime
                            tempore, nemo iusto aliquid.</p>
                    </div>
                    <div class="col-6 justify-content-center text-center">
                        <img class="imgAbout" src="../../../../assets/picturespage/about_3.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div>
                <hr data-content="Certificaciones y Logros" class="hr-text">
                <div class="card mb-5 border-0 rounded-3 ">
                    <div class="row">
                        <div class="col-2 justify-content-center text-center">
                            <img class="imgAbout" src="../../../../assets/picturespage/imgbage.png" alt="">
                        </div>
                        <div class="col-2 justify-content-center text-center">
                            <img class="imgAbout" src="../../../../assets/picturespage/imgbage.png" alt="">
                        </div>
                        <div class="col-2 justify-content-center text-center">
                            <img class="imgAbout" src="../../../../assets/picturespage/imgbage.png" alt="">
                        </div>
                        <div class="col-2 justify-content-center text-center">
                            <img class="imgAbout" src="../../../../assets/picturespage/imgbagetwo.png" alt="">
                        </div>
                        <div class="col-2 justify-content-center text-center">
                            <img class="imgAbout" src="../../../../assets/picturespage/imgbagetwo.png" alt="">
                        </div>
                        <div class="col-2 justify-content-center text-center">
                            <img class="imgAbout" src="../../../../assets/picturespage/imgbagetwo.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</section>

