<!-- <app-navigatebar></app-navigatebar> -->
<header class="site-header inicio mb-5">
    <div class="contenedor contenido-header">
        <h1 style="font-style: italic;">Sobre nosostros</h1>
    </div>
</header>
<div style="width: 1140px; margin: auto;">
    <div class="container-fluid">
        <ng-container>
            <div class="card mb-5  border-0 rounded-3 shadow-lg">
                <div class="row">
                    <div class="col-6 justify-content-center text-center">
                        <img class="imgAbout" src="../../../../assets/picturespage/imageabout.png" alt="">
                    </div>
                    <div class="col-6 text-justify">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis impedit illum
                            voluptatibus soluta
                            adipisci, delectus exercitationem error est dolor tempora deleniti. Recusandae ullam in
                            possimus
                            maxime
                            tempore, nemo iusto aliquid.
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis impedit illum
                            voluptatibus
                            soluta
                            adipisci, delectus exercitationem error est dolor tempora deleniti. Recusandae ullam in
                            possimus
                            maxime
                            tempore, nemo iusto aliquid.

                        </p>
                    </div>
                </div>
            </div>
            <div class="card mb-5  border-0 rounded-3 shadow-lg">
                <div class="row">
                    <div class="col-6 text-justify">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis impedit illum voluptatibus
                            soluta
                            adipisci, delectus exercitationem error est dolor tempora deleniti. Recusandae ullam in
                            possimus
                            maxime
                            tempore, nemo iusto aliquid.</p>
                    </div>
                    <div class="col-6 justify-content-center text-center">
                        <img class="imgAbout" src="../../../../assets/picturespage/imageabout.png" alt="">
                    </div>
                </div>
            </div>
            <div class="card mb-5  border-0 rounded-3 shadow-lg">
                <div class="row">
                    <div class="col-6 justify-content-center text-center">
                        <img class="imgAbout" src="../../../../assets/picturespage/imageabout.png" alt="">
                    </div>
                    <div class="col-6 text-justify">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis
                            impedit illum voluptatibus soluta
                            adipisci, delectus exercitationem error est dolor tempora deleniti. Recusandae ullam in
                            possimus
                            maxime
                            tempore, nemo iusto aliquid.</p>
                    </div>
                </div>
            </div>
            <div class="card mb-5  border-0 rounded-3 shadow-lg">
                <div class="row">
                    <div class="col-6 text-justify">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis
                            impedit illum voluptatibus soluta
                            adipisci, delectus exercitationem error est dolor tempora deleniti. Recusandae ullam in
                            possimus
                            maxime
                            tempore, nemo iusto aliquid.</p>
                    </div>
                    <div class="col-6 justify-content-center text-center">
                        <img class="imgAbout" src="../../../../assets/picturespage/imageabout.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <hr data-content="Certificaciones y Logros" class="hr-text">
                <div class="card mb-5 border-0 rounded-3 shadow-lg">
                    <div class="row">
                        <div class="col-2 justify-content-center text-center">
                            <img class="imgAbout" src="../../../../assets/picturespage/imgbage.png" alt="">
                        </div>
                        <div class="col-2 justify-content-center text-center">
                            <img class="imgAbout" src="../../../../assets/picturespage/imgbage.png" alt="">
                        </div>
                        <div class="col-2 justify-content-center text-center">
                            <img class="imgAbout" src="../../../../assets/picturespage/imgbage.png" alt="">
                        </div>
                        <div class="col-2 justify-content-center text-center">
                            <img class="imgAbout" src="../../../../assets/picturespage/imgbagetwo.png" alt="">
                        </div>
                        <div class="col-2 justify-content-center text-center">
                            <img class="imgAbout" src="../../../../assets/picturespage/imgbagetwo.png" alt="">
                        </div>
                        <div class="col-2 justify-content-center text-center">
                            <img class="imgAbout" src="../../../../assets/picturespage/imgbagetwo.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<!-- <app-footer></app-footer> -->