<div class="p-mb-3 p-text-italic">
    <h3>Atención al cliente</h3>
</div>
<p-card>
    <p-tabView>
        <p-tabPanel header="Registros">
            <p-table [value]="dataFromdb" styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped"
                [responsive]="true" [paginator]="true" [rows]="pageSize" dataKey="date"
                [rowsPerPageOptions]="[10,30,60]" [totalRecords]="sizeRecords" [lazy]="true" [autoLayout]="true"
                [columns]="cols">
                <ng-template pTemplate="caption">
                    Listado
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <ng-container *ngFor="let col of columns">
                            <th>
                                {{col.header}}
                            </th>
                        </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dataFrom let-index="rowIndex" let-columns="columns">
                    <tr>
                        <td>
                            <span class="p-column-title">Codigo cliente</span>
                            {{dataFrom.codeCli}}
                        </td>
                        <td>
                            <span class="p-column-title">Fecha</span>
                            {{dataFrom.date}}
                        </td>
                        <td>
                            <span class="p-column-title">Nombre</span>
                            {{dataFrom.name}}
                        </td>
                        <td>
                            <span class="p-column-title">Apellido</span>
                            {{dataFrom.lastname}}
                        </td>
                        <td>
                            <span class="p-column-title">Observaciones</span>
                            {{dataFrom.observation}}
                        </td>
                        <td>
                            <span class="p-column-title">Num. Telefono</span>
                            {{dataFrom.phone}}
                        </td>
                        <td>
                            <span class="p-column-title">Dirección</span>
                            {{dataFrom.addres}}
                        </td>
                        <td>
                            <span class="p-column-title">Nombre empleado</span>
                            {{dataFrom.employe}}
                        </td>
                        <td>
                            <span class="p-column-title">Detalle del servicio</span>
                            {{dataFrom.detailservice}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    No hay registros que mostrar
                </ng-template>
            </p-table>
            <p-toolbar>
                <div class="p-toolbar-group-left"></div>
                <div class="p-toolbar-group-right">
                    <button pButton pRipple type="button" label="Registrar nueva" icon="pi pi-plus"
                        class="p-button-raised p-button-rounded p-button-success p-mr-2 p-mb-2 ">
                    </button>
                </div>
            </p-toolbar>
        </p-tabPanel>
        <p-tabPanel header="Formulario de Observaciones">
            <div class="card-header">
                Formulario de observaciones
            </div>
            <br>
            <div class="p-fluid p-grid">
                <div class="p-field p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-user"></i>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="inputgroup" pInputText>
                            <label for="inputgroup">Cedula/RUC</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-user"></i>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="inputgroup" pInputText>
                            <label for="inputgroup">Correo electrónico</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-id-card"></i>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="inputgroup" pInputText>
                            <label for="inputgroup">Nombre</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-phone"></i>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="inputgroup" pInputText>
                            <label for="inputgroup">Apellido</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-envelope "></i>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="inputgroup" pInputText>
                            <label for="inputgroup">Teléfono</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-6"></div>
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="drop"
                            [(ngModel)]="fordropt" optionLabel="name"></p-dropdown>
                        <label for="dropdown">Provincia</label>
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="drop"
                            [(ngModel)]="fordropt" optionLabel="name"></p-dropdown>
                        <label for="dropdown">Ciudad</label>
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-12">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-globe"></i>
                        </span>
                        <span class="p-float-label">
                            <textarea id="float-input" rows="5" cols="30" pInputTextarea></textarea>
                            <label for="inputgroup">Observación</label>
                        </span>
                    </div>
                </div>
                <!-- <div class="p-field p-col-12 p-md-6"></div> -->
                <div class="p-field p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-lock"></i>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="inputgroup" pInputText>
                            <label for="inputgroup">Tipo servicio</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-lock"></i>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="inputgroup" pInputText>
                            <label for="inputgroup">Nombre empleado</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-lock"></i>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="inputgroup" pInputText>
                            <label for="inputgroup">Código empleado</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-lock"></i>
                        </span>
                        <span class="p-float-label">
                            <input type="number" id="inputgroup" pInputText>
                            <label for="inputgroup">Num. Horas</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-6">

                    <span class="p-float-label">
                        <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
                        <label for="inputgroup">Fecha servicio</label>
                    </span>
                </div>

            </div>
            <p-toolbar>
                <div class="p-toolbar-group-left">
                </div>
                <div class="p-toolbar-group-right">
                    <button pButton pRipple type="button" label="Registrar" icon="pi pi-save"
                        class="p-button-raised p-button-rounded p-button-success p-mr-2 p-mb-2 " style="float: right">
                    </button>
                </div>
            </p-toolbar>
        </p-tabPanel>
    </p-tabView>
</p-card>
