<p-toast></p-toast>
<div class="p-mb-3 p-text-italic">
    <h3>Gestion de Solicitudes</h3>
</div>
<p-card>
    <p-tabView>
        <p-tabPanel header="Solicitudes por validar">
            <p-table [value]="dataFromdb" styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped"
                [responsive]="true" [paginator]="true" [rows]="pageSize" dataKey="seqsolproduct"
                [rowsPerPageOptions]="[10,30,60]" [totalRecords]="sizeRecords" [lazy]="true" [autoLayout]="true"
                selectionMode="single" [columns]="cols" [(selection)]="selectedSoli"
                (onLazyLoad)="getSolProducts($event)" (onRowExpand)="onRowSelectFather($event)">
                <ng-template pTemplate="caption">
                    Listado
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Productos solicitados</th>
                        <ng-container *ngFor="let col of columns">
                            <th>
                                {{col.header}}
                            </th>
                        </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dataFrom let-index="rowIndex" let-expanded="expanded"
                    let-columns="columns">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="dataFrom"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                            </button>
                        </td>
                        <td>
                            <span class="p-column-title">Usuario</span>
                            {{dataFrom.nameuser}} - {{dataFrom.codeuser}}
                        </td>
                        <td>
                            <span class="p-column-title">Número de contacto</span>
                            {{dataFrom.contacnumber}}
                        </td>
                        <td>
                            <span class="p-column-title">Correo electrónico</span>
                            {{dataFrom.email}}
                        </td>
                        <td>
                            <span class="p-column-title">Fecha solicitud</span>
                            {{dataFrom.dateCreate | date:'dd/MM/yyyy'}}
                        </td>
                        <td>
                            <span class="p-column-title">Estado</span>
                            {{dataFrom.status |solistatus:drop }}
                        </td>
                        <td>
                            <span class="p-column-title">Cambiar estado</span>
                            <p-dropdown [options]="drop" [(ngModel)]="dataFrom.status" appendTo="body"></p-dropdown>
                        </td>
                        <td style="text-align: center;">
                            <span class="p-column-title">Guardar</span>
                            <button pButton pRipple type="button" icon="pi pi-check"
                                (click)="fillDataToUpdate(dataFrom)"
                                class="p-button-raised p-button-text p-button-rounded p-button-success"
                                style="float: center">
                            </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-dataFrom>
                    <tr>
                        <td colspan="6">
                            <div>
                                <span class="p-text-bold">Productos solicitados</span>
                                <br>
                                <span class="p-text-italic"><b>Importante:</b> Deseleccionar productos que no se
                                    confirmen</span>
                            </div>
                            <br>
                            <div *ngFor="let products of dataFrom.elementAsArray" class="p-field-checkbox">
                                <div class="p-field-checkbox">
                                    <p-checkbox name="group2" value="products" [value]="products"
                                        [(ngModel)]="dataFrom.selectedProducts" [inputId]="products?.codeproduct"
                                        ngDefaultControl>
                                    </p-checkbox>
                                    <label [for]="products?.codeproduct">
                                        <b> Código:</b>{{products?.codeproduct}}
                                        <br>
                                        <b> Nombre:</b> {{products?.name}}
                                        <br>
                                        <b> Cantidad:</b> {{products?.quantity}}
                                        <br>
                                        <b> P/U:</b> {{products?.saleprice}}
                                    </label>
                                </div>
                            </div>
                            <br>
                            <div class="p-grid p-fluid">
                                <div class="p-field p-col-12 p-md-4 p-sm-12">
                                    <button pButton pRipple type="button" label="Confirmar" icon="pi pi-save"
                                        (click)="saveConfirmation(dataFrom)"
                                        class="p-button-raised p-button-rounded p-button-success p-mr-2 p-mb-2 "
                                        style="float: center">
                                    </button>
                                </div>
                                <div class="p-field p-col-12 p-md-4 p-sm-12">
                                    <button pButton pRipple type="button" label="Deseleccionar todos" icon="pi pi-times"
                                        (click)="dataFrom.selectedProducts = []"
                                        class="p-button-raised p-button-rounded p-button-danger p-mr-2 p-mb-2 "
                                        style="float: center">
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    No hay registros que mostrar
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Solicitudes validadas">
            <p-table [value]="dataFromdbWatch"
                styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped" [responsive]="true"
                [paginator]="true" [rows]="pageSize" dataKey="seqsolproduct" [rowsPerPageOptions]="[10,30,60]"
                [totalRecords]="sizeRecords" [lazy]="true" [autoLayout]="true" [columns]="colWatch">
                <ng-template pTemplate="caption">
                    Listado
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Productos solicitados</th>
                        <ng-container *ngFor="let col of columns">
                            <th>
                                {{col.header}}
                            </th>
                        </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dataFrom let-index="rowIndex" let-expanded="expanded"
                    let-columns="columns">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="dataFrom"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td>
                            <span class="p-column-title">Usuario</span>
                            {{dataFrom.nameuser}} - {{dataFrom.codeuser}}
                        </td>
                        <td>
                            <span class="p-column-title">Número de contacto</span>
                            {{dataFrom.contacnumber}}
                        </td>
                        <td>
                            <span class="p-column-title">Correo electrónico</span>
                            {{dataFrom.email}}
                        </td>
                        <td>
                            <span class="p-column-title">Fecha solicitud</span>
                            {{dataFrom.dateCreate | date:'dd/MM/yyyy'}}
                        </td>
                        <td>
                            <span class="p-column-title">Estado</span>
                            {{dataFrom.status |solistatus:drop }}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-dataFrom>
                    <tr>
                        <td colspan="6">
                            <div>
                                <span class="p-text-bold">Productos</span>
                            </div>
                            <br>
                            <div *ngFor="let products of dataFrom.elementAsArray" class="p-field-checkbox">
                                <div class="p-field-checkbox">
                                    <p-checkbox name="group2" value="products" [value]="products"
                                        [(ngModel)]="dataFrom.selectedProducts" [inputId]="products?.codeproduct"
                                        disabled="true"
                                        ngDefaultControl>
                                    </p-checkbox>
                                    <label [for]="products?.codeproduct">
                                        <b> Código:</b>{{products?.codeproduct}}
                                        <br>
                                        <b> Nombre:</b> {{products?.name}}
                                        <br>
                                        <b> Cantidad:</b> {{products?.quantity}}
                                        <br>
                                        <b> P/U:</b> {{products?.saleprice}}
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    No hay registros que mostrar
                </ng-template>
            </p-table>
        </p-tabPanel>
    </p-tabView>
</p-card>