<!-- <ng-container>
    <div class="header">
        <ul>
            <li>
                <a href="#" class="navbar-brand"><img src="../../../../assets/Picture1.png" alt="">SISLimp</a>
            </li>
            <li><a [routerLink]="['inicio']" [routerLinkActive]="['active']">Inicio</a></li>
            <li><a [routerLink]="['about']" [routerLinkActive]="['active']">Nosotros</a></li>
            <li><a [routerLink]="['products']" [routerLinkActive]="['active']">Productos</a></li>
            <li><a [routerLink]="['services']" [routerLinkActive]="['active']">Servicios</a></li>
            <li><a [routerLink]="['contacto']" [routerLinkActive]="['active']">Contacto</a></li>
            <li><a [routerLink]="['proservices']" [routerLinkActive]="['active']">Productos y servicios</a></li>
            <li><a [routerLink]="['login']" [routerLinkActive]="['active']">Login</a></li>
            <li *ngIf="!isLogged"><a [routerLink]="['login']" [routerLinkActive]="['active']">Iniciar Sesión</a></li>
            <li *ngIf="isAdmin" ><a [routerLink]="['admin']" [routerLinkActive]="['active']">Admin <i class="fas fa-user-shield" style="color: #ff6b6b;"></i></a></li>
            <li *ngIf="isLogged">
            <a class="btn logOut" (click)="onLogOut()">
                Cerrar Sesión 
                <i class="fas fa-sign-out-alt"  style="color: #ff6b6b;" ></i>
            </a>
        </li>
        </ul>
    </div>
</ng-container> -->

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <ng-container>
    <header id="header" class="fixed-top">
      <div class="container-fluid">
        <nav id="navbar" class="navbar">
          <a href="#" class="logo">
            <img src="../../../../assets/Picture1.png" width="45" alt=""
              class="d-inline-block align-middle mr-2 img-fluid">
            <span class="text-uppercase font-weight-bold">SISLIMP</span>
          </a>
          <!-- <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation"
            class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button> -->



          <ul>
            <li><a [routerLink]="['/page/inicio']" [routerLinkActive]="['active']"
                class="nav-link  scrollto text-uppercase font-weight-bold">Inicio</a></li>
            <li><a [routerLink]="['/page/about']" [routerLinkActive]="['active']"
                class="nav-link scrollto text-uppercase font-weight-bold">Nosotros</a></li>
            <li><a [routerLink]="['/page/products']" [routerLinkActive]="['active']"
                class="nav-link scrollto text-uppercase font-weight-bold">Productos</a></li>
            <li><a [routerLink]="['/page/services']" [routerLinkActive]="['active']"
                class="nav-link scrollto text-uppercase font-weight-bold">Servicios</a></li>
            <li><a [routerLink]="['/page/contacto']" [routerLinkActive]="['active']"
                class="nav-link scrollto text-uppercase font-weight-bold">Contacto</a></li>
            <li><a [routerLink]="['/page/proservices']" [routerLinkActive]="['active']"
                class="nav-link scrollto text-uppercase font-weight-bold">Productos y servicios</a></li>
            <li><a [routerLink]="['/page/login']" [routerLinkActive]="['active']"
                class="nav-link scrollto text-uppercase font-weight-bold">Login</a></li>
          </ul>
          <i class="fas fa-bars mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>
  </ng-container>
</body>

</html>
