<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <ng-container>
    <header id="header" class="fixed-top">
      <div class="container-fluid">
        <nav id="navbar" class="navbar">
          <a href="#" class="logo">
            <img src="../../../../assets/Picture1.png" width="45" alt=""
              class="d-inline-block align-middle mr-2 img-fluid">
            <span class="text-uppercase font-weight-bold">SISLIMP</span>
          </a>
          <ul>
            <li><a [routerLink]="['/page/inicio']" [routerLinkActive]="['active']"
                class="nav-link  scrollto text-uppercase font-weight-bold">Inicio</a></li>
            <li><a [routerLink]="['/page/about']" [routerLinkActive]="['active']"
                class="nav-link scrollto text-uppercase font-weight-bold">Nosotros</a></li>
            <li><a [routerLink]="['/page/products']" [routerLinkActive]="['active']"
                class="nav-link scrollto text-uppercase font-weight-bold">Productos</a></li>
            <li><a [routerLink]="['/page/services']" [routerLinkActive]="['active']"
                class="nav-link scrollto text-uppercase font-weight-bold">Servicios</a></li>
            <li><a [routerLink]="['/page/contacto']" [routerLinkActive]="['active']"
                class="nav-link scrollto text-uppercase font-weight-bold">Contacto</a></li>
            <li><a [routerLink]="['/page/proservices']" [routerLinkActive]="['active']"
                class="nav-link scrollto text-uppercase font-weight-bold">Productos y servicios</a></li>
            <li><a [routerLink]="['/page/login']" [routerLinkActive]="['active']"
                class="nav-link scrollto text-uppercase font-weight-bold">Login</a></li>
          </ul>
          <i class="fas fa-bars mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>
  </ng-container>
</body>

</html>
