<ng-container *ngIf="!showDetail">
    <div class="p-mb-3 p-text-italic">
        <h3>Gestión de servicios</h3>
    </div>
    <p-card>
        <p-table [value]="dataFromdb" selectionMode="single" styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped"
            [responsive]="true" [paginator]="true" [rows]="pageSize" dataKey="codeCita" [rowsPerPageOptions]="[10,30,60]"
            [totalRecords]="sizeRecords" [lazy]="true" [autoLayout]="true" [columns]="cols" (onLazyLoad)="chargeData($event)"
            (onRowSelect)="onRowSelect($event)">
            <ng-template pTemplate="caption">
                Listado de servicios
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <ng-container *ngFor="let col of columns">
                        <th>
                            {{col.header}}
                        </th>
                    </ng-container>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dataFrom let-index="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="dataFrom">
                    <td>
                        <span class="p-column-title">Código cita</span>
                        {{dataFrom.codeCita}}
                    </td>
                    <td>
                        <span class="p-column-title">Fecha</span>
                        {{dataFrom.date}}
                    </td>
                    <td>
                        <span class="p-column-title">Nombre empleado</span>
                        {{dataFrom.nameemplyee}}
                    </td>
                    <td>
                        <span class="p-column-title">Cliente</span>
                        {{dataFrom.client}}
                    </td>
                    <td>
                        <span class="p-column-title">Hora asignada</span>
                        {{dataFrom.assigmenthour}}
                    </td>
                    <td>
                        <span class="p-column-title">Estado</span>
                        {{dataFrom.status}}
                    </td>
                    <td>
                        <span class="p-column-title">Duración</span>
                        {{dataFrom.duration}}
                    </td>
                    <td>
                        <span class="p-column-title">Precio</span>
                        {{dataFrom.price}}
                    </td>
                    <td>
                        <span class="p-column-title">Seq. servicio</span>
                        {{dataFrom.seqservice}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                No hay registros que mostrar
            </ng-template>
        </p-table>
        <p-toolbar>
            <div class="p-toolbar-group-left"></div>
            <div class="p-toolbar-group-right">
                <button pButton pRipple type="button" label="Registrar nueva" icon="pi pi-plus"
                    class="p-button-raised p-button-rounded p-button-success p-mr-2 p-mb-2 ">
                </button>
            </div>
        </p-toolbar>
    </p-card>
</ng-container>
<ng-container *ngIf="showDetail">
    <app-detailservice></app-detailservice>
</ng-container>