<div class="p-mb-3 p-text-italic">
    <h3>Agendamiento de citas</h3>
</div>
<p-card>
    <p-tabView>
        <p-tabPanel header="Formulario de citas">
            <div class="card-header">
                Formulario de citas
            </div>
            <br>
            <div class="p-fluid p-grid">
                <div class="p-field p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-user"></i>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="inputgroup" pInputText>
                            <label for="inputgroup">Nombre</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-user"></i>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="inputgroup" pInputText>
                            <label for="inputgroup">Apellido</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-id-card"></i>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="inputgroup" pInputText>
                            <label for="inputgroup">Cedula</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-phone"></i>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="inputgroup" pInputText>
                            <label for="inputgroup">Telefono</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-envelope "></i>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="inputgroup" pInputText>
                            <label for="inputgroup">Correo electrónico</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-6"></div>
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="drop"
                            [(ngModel)]="fordropt" optionLabel="name"></p-dropdown>
                        <label for="dropdown">Provincia</label>
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="drop"
                            [(ngModel)]="fordropt" optionLabel="name"></p-dropdown>
                        <label for="dropdown">Ciudad</label>
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-12">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-globe"></i>
                        </span>
                        <span class="p-float-label">
                            <textarea id="float-input" rows="5" cols="30" pInputTextarea></textarea>
                            <label for="inputgroup">Dirección detallada</label>
                        </span>
                    </div>
                </div>
                <!-- <div class="p-field p-col-12 p-md-6"></div> -->
                <div class="p-field p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-lock"></i>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="inputgroup" pInputText>
                            <label for="inputgroup">Tipo servicio</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-lock"></i>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="inputgroup" pInputText>
                            <label for="inputgroup">Nombre servicio</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-lock"></i>
                        </span>
                        <span class="p-float-label">
                            <input type="number" id="inputgroup" pInputText>
                            <label for="inputgroup">Num. Horas</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-6">

                    <span class="p-float-label">
                        <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
                        <label for="inputgroup">Fecha servicio</label>
                    </span>
                </div>

            </div>
            <p-toolbar>
                <div class="p-toolbar-group-left">
                </div>
                <div class="p-toolbar-group-right">
                    <button pButton pRipple type="button" label="Agendar" icon="pi pi-save"
                        class="p-button-raised p-button-rounded p-button-success p-mr-2 p-mb-2 " style="float: right">
                    </button>
                </div>
            </p-toolbar>
        </p-tabPanel>
        <p-tabPanel header="Listado de citas">
            <p-table [value]="dataFromdb" styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped"
                [responsive]="true" [paginator]="true" [rows]="pageSize" dataKey="date"
                [rowsPerPageOptions]="[10,30,60]" [totalRecords]="sizeRecords" [lazy]="true" [autoLayout]="true"
                [columns]="cols">
                <ng-template pTemplate="caption">
                    Listado
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <ng-container *ngFor="let col of columns">
                            <th>
                                {{col.header}}
                            </th>
                        </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dataFrom let-index="rowIndex" let-columns="columns">
                    <tr>
                        <td>
                            <span class="p-column-title">Fecha</span>
                            {{dataFrom.date}}
                        </td>
                        <td>
                            <span class="p-column-title">Estado</span>
                            {{dataFrom.status}}
                        </td>
                        <td>
                            <span class="p-column-title">Cliente</span>
                            {{dataFrom.client}}
                        </td>
                        <td>
                            <span class="p-column-title">Agendador</span>
                            {{dataFrom.agent}}
                        </td>
                        <td>
                            <span class="p-column-title">Empleado asigando</span>
                            {{dataFrom.employeasi}}
                        </td>
                        <td>
                            <span class="p-column-title">Dias asigandos</span>
                            {{dataFrom.daysassigned}}
                        </td>
                        <td>
                            <span class="p-column-title">Valor base</span>
                            {{dataFrom.basecost}}
                        </td>
                        <td>
                            <span class="p-column-title">Valor total</span>
                            {{dataFrom.totalcost}}
                        </td>
                        <td>
                            <span class="p-column-title">Utencilios incluidos</span>
                            {{dataFrom.toolsneed}}
                        </td>
                        <td style="text-align: center;">
                            <button pButton pRipple type="button" icon="pi pi-user-plus" (click)="showAssignation()"
                                class="p-button-raised p-button-rounded p-button-info" style="float: center">
                            </button>
                        </td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    No hay registros que mostrar
                </ng-template>
            </p-table>
        </p-tabPanel>
    </p-tabView>
    <p-dialog header="Asignacion de empleado" [(visible)]="showEmployes">
        <p-table [value]="employesToAssig" styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped"
            [responsive]="true" [paginator]="true" [rows]="pageSize" dataKey="nameEmploye"
            [rowsPerPageOptions]="[10,30,60]" [totalRecords]="sizeRecords" [lazy]="true" [autoLayout]="true"
            [columns]="colsEmployees">
            <ng-template pTemplate="caption">
                Listado
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <ng-container *ngFor="let col of columns">
                        <th>
                            {{col.header}}
                        </th>
                    </ng-container>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dataFrom let-index="rowIndex" let-columns="columns">
                <tr>
                    <td>
                        <p-tableCheckbox [value]="dataFrom"></p-tableCheckbox>
                    </td>
                    <td>
                        <span class="p-column-title">Nombre</span>
                        {{dataFrom.nameEmploye}}
                    </td>
                    <td>
                        <span class="p-column-title">Cargo</span>
                        {{dataFrom.nameEmploye}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                No hay registros que mostrar
            </ng-template>
        </p-table>
        <p-toolbar>
            <div style="text-align: center;">
                <button pButton pRipple type="button" label="Asignar selección" icon="pi pi-save"
                    class="p-button-raised p-button-rounded p-button-success p-mr-2 p-mb-2 " style="float: center">
                </button>
            </div>

        </p-toolbar>
    </p-dialog>
</p-card>