<!-- <app-navigatebar></app-navigatebar> -->
<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
        <h2>Productos y Servicios</h2>
        <p>Información acerca de los productos y servicios en general</p>
    </div>
</div>
<br>
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Productos</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-bucket"></i></div>
            <h4><a href="">Utencilios de limpieza</a></h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-shield-check"></i></div>
            <h4><a href="">Productos de biosegudridad</a></h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="fa fa-universal-access"></i></div>
            <h4><a href="">Complementos</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa fa-wrench"></i></div>
            <h4><a href="">Productos de aseo</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa fa-shower"></i></div>
            <h4><a href="">Aditivos</a></h4>
            <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa fa-bug"></i></div>
            <h4><a href="">Insepticida</a></h4>
            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
          </div>
        </div>

      </div>

    </div>
  </section>
  <br>
  <br>
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Servicios</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-stars"></i></div>
            <h4><a href="">Limpieza de interiores</a></h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-door-open"></i></div>
            <h4><a href="">Limpieza general</a></h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="fa fa-industry"></i></div>
            <h4><a href="">Limpieza de intalaciones publicas</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa fa-industry"></i></div>
            <h4><a href="">Limpieza de intalaciones privadas</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa fa-recycle"></i></div>
            <h4><a href="">Limpieza de residuos</a></h4>
            <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-house-door"></i></div>
            <h4><a href="">Limpieza del hogar</a></h4>
            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
          </div>
        </div>

      </div>

    </div>
  </section>
  <br>
  <br>
<!-- <div class="container-fluid">
    <section>
        <div class="container-fluid p-5 text-center">
            <div class="row mb-5">
                <div class="col-lg-5 mx-auto">
                    <h1 class="font-weight-bold">Productos</h1>
                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-lg-4">
                <figure class="rounded p-3 bg-white shadow-lg cards">
                    <img src="../../../../assets/picturespage/product.png" alt=""
                        class="rounded mx-auto d-block card-img-top ">
                    <figcaption class="p-4 card-img-bottom">
                        <a class="btn btn-primary btn-block p-2 shadow rounded-pill shadow-lg">Complementos</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-4">
                <figure class="rounded p-3 bg-white shadow-lg cards">
                    <img src="../../../../assets/picturespage/product.png" alt=""
                        class="rounded mx-auto d-block card-img-top">
                    <figcaption class="p-4 card-img-bottom">

                        <a class="btn btn-primary btn-block p-2 shadow rounded-pill shadow-lg">Complementos</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-4">
                <figure class="rounded p-3 bg-white shadow-lg cards">
                    <img src="../../../../assets/picturespage/product.png" alt=""
                        class="rounded mx-auto d-block card-img-top">
                    <figcaption class="p-4 card-img-bottom">

                        <a class="btn btn-primary btn-block p-2 shadow rounded-pill shadow-lg">Complementos</a>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-4">
                <figure class="rounded p-3 bg-white shadow-lg cards">
                    <img src="../../../../assets/picturespage/product.png" alt=""
                        class="rounded mx-auto d-block card-img-top ">
                    <figcaption class="p-4 card-img-bottom">

                        <a class="btn btn-primary btn-block p-2 shadow rounded-pill shadow-lg">Complementos</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-4">
                <figure class="rounded p-3 bg-white shadow-lg cards">
                    <img src="../../../../assets/picturespage/product.png" alt=""
                        class="rounded mx-auto d-block card-img-top">
                    <figcaption class="p-4 card-img-bottom">

                        <a class="btn btn-primary btn-block p-2 shadow rounded-pill shadow-lg">Complementos</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid p-5 text-center">
            <div class="row mb-5">
                <div class="col-lg-5 mx-auto">
                    <h1 class="font-weight-bold">Servicios</h1>
                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-lg-4">
                <figure class="rounded p-3 bg-white shadow-lg cards">
                    <img src="../../../../assets/picturespage/services.png" alt=""
                        class="rounded mx-auto d-block card-img-top ">
                    <figcaption class="p-4 card-img-bottom">
                        <a class="btn btn-primary btn-block p-2 shadow rounded-pill shadow-lg">Limpieza Externa</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-4">
                <figure class="rounded p-3 bg-white shadow-lg cards">
                    <img src="../../../../assets/picturespage/services.png" alt=""
                        class="rounded mx-auto d-block card-img-top">
                    <figcaption class="p-4 card-img-bottom">
                        <a class="btn btn-primary btn-block p-2 shadow rounded-pill shadow-lg">Mudansa</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-4">
                <figure class="rounded p-3 bg-white shadow-lg cards">
                    <img src="../../../../assets/picturespage/services.png" alt=""
                        class="rounded mx-auto d-block card-img-top">
                    <figcaption class="p-4 card-img-bottom">

                        <a class="btn btn-primary btn-block p-2 shadow rounded-pill shadow-lg">Fumigación</a>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-4">
                <figure class="rounded p-3 bg-white shadow-lg cards">
                    <img src="../../../../assets/picturespage/services.png" alt=""
                        class="rounded mx-auto d-block card-img-top ">
                    <figcaption class="p-4 card-img-bottom">

                        <a class="btn btn-primary btn-block p-2 shadow rounded-pill shadow-lg">Limpieza Interna</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-4">
                <figure class="rounded p-3 bg-white shadow-lg cards">
                    <img src="../../../../assets/picturespage/services.png" alt=""
                        class="rounded mx-auto d-block card-img-top">
                    <figcaption class="p-4 card-img-bottom">
                        <a class="btn btn-primary btn-block p-2 shadow rounded-pill shadow-lg">Aseo</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="container mb-5 mt-5 d-flex justify-content-center text-center " style="height: 40px;">
            <a class="btn btn-success btn-flex p-2 shadow-lg rounded-pill shadow-lg align-middle font-weight-bold"
                [style]="{'width': '40%', 'line-height': '20px', 'font-size': '25px'}">SOLICITALO</a>
        </div>
    </section>
</div> -->