<header class="site-header inicio mb-5">
    <div class="contenedor contenido-header">
        <h1 style="font-style: italic;">Inicio de sesion</h1>
    </div>
</header>
<div style="width: 1140px; margin: auto;">
    <div class="container card mb-5 border-0 rounded-3 shadow-lg">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-pills nav-justified">
            <li [ngbNavItem]="1">
                <a ngbNavLink>Login</a>
                <ng-template ngbNavContent>
                    <div class="container mx-auto m-5 pl-5 pr-5">
                        <div class="container m-5 p-5">
                            <h1 style="font-style: italic;">Inicio de sesion</h1>
                        </div>
                        <form>
                            <div class="row">
                                <div class="form-group col-3"></div>
                                <div class="form-group col-6">
                                    <div class="form-group col-lg-12 mb-5">
                                        <input id="inputEmail" type="email" placeholder="Correo electrónico" required=""
                                            autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                    </div>
                                    <div class="form-group col-lg-12 mb-5">
                                        <input id="inputPassword" type="password" placeholder="Contraseña" required=""
                                            class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check mb-4">
                                            <div class="custom-control custom-checkbox mb-3">
                                                <input id="customCheck1" type="checkbox" class="form-check-input">
                                                <label for="customCheck1" class="form-check-label">
                                                    <p>
                                                        <b>
                                                            RECORDAR CONTRASEÑA
                                                        </b>
                                                    </p>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-12 mb-3" style="text-align: center;">
                                        <button type="submit"
                                            class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Acceder
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group col-3"></div>
                            </div>
                        </form>
                    </div>
                </ng-template>

            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>Registration</a>
                <ng-template ngbNavContent>
                    <div class="container mx-auto m-5 pl-5 pr-5">
                        <div class="container m-5 p-5">
                            <h1 style="font-style: italic;">Registrate</h1>
                        </div>
                        <div class="container">
                            <form>
                                <div class="row g-2">
                                    <div class="col-6">
                                        <div class="input-group mb-4">
                                            <span class="input-group-text">
                                                <i class="fa fa-user text-muted"></i>
                                            </span>
                                            <input id="firstName" type="text" name="firstname" placeholder="Nombre"
                                                required class="form-control bg-white border-left-0 border-md">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group mb-4">
                                            <span class="input-group-text ">
                                                <i class="fa fa-user text-muted"></i>
                                            </span>
                                            <input id="lastName" type="text" name="lastname" placeholder="Apellido"
                                                required class="form-control bg-white border-left-0 border-md">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group mb-4">
                                            <span class="input-group-text ">
                                                <i class="fa fa-envelope text-muted"></i>
                                            </span>
                                            <input id="email" type="email" name="email" placeholder="Correo electrónico"
                                                required class="form-control bg-white border-left-0 border-md">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group mb-4">
                                            <span class="input-group-text ">
                                                <i class="fa fa-phone-square text-muted"></i>
                                            </span>
                                            <select id="countryCode" name="countryCode" style="max-width: 80px"
                                                class="custom-select form-control bg-white border-left-0 border-md h-100 font-weight-bold text-muted">
                                                <option value="">+12</option>
                                                <option value="">+10</option>
                                                <option value="">+15</option>
                                                <option value="">+18</option>
                                            </select>
                                            <input id="phoneNumber" type="tel" name="phone" placeholder="Teléfono"
                                                required class="form-control bg-white border-md border-left-0 pl-3">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group mb-4">
                                            <span class="input-group-text ">
                                                <i class="fa fa-globe text-muted"></i>
                                            </span>
                                            <select id="provinica" name="nomprovi"
                                                class="form-control custom-select bg-white border-left-0 border-md">
                                                <option selected>Provincia</option>
                                                <ng-container *ngFor="let item of cities">
                                                    <option value="item.code">{{item.name}}</option>
                                                </ng-container>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group mb-4">
                                            <span class="input-group-text ">
                                                <i class="fa fa-globe text-muted"></i>
                                            </span>
                                            <select id="ciudad" name="nomciudad"
                                                class="form-control custom-select bg-white border-left-0 border-md">
                                                <option selected>Ciudad</option>
                                                <ng-container *ngFor="let item of provinces">
                                                    <option value="item.code">{{item.name}}</option>
                                                </ng-container>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group mb-4">
                                            <span class="input-group-text ">
                                                <i class="fa fa-lock text-muted"></i>
                                            </span>
                                            <input id="password" type="password" name="password"
                                                placeholder="Contraseña" required
                                                class="form-control bg-white border-left-0 border-md">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group mb-4">
                                            <span class="input-group-text ">
                                                <i class="fa fa-lock text-muted"></i>
                                            </span>
                                            <input id="passwordConfirmation" type="text" name="passwordConfirmation"
                                                required placeholder="Confirmar contraseña"
                                                class="form-control bg-white border-left-0 border-md">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check mb-4">
                                            <div class="custom-control custom-checkbox mb-3">
                                                <input id="customCheck2" type="checkbox" class="form-check-input"
                                                    required>
                                                <label for="customCheck2" class="form-check-label">
                                                    <p>
                                                        <b>
                                                            Acepta terminos y
                                                            condiciones
                                                            del
                                                            servicio.
                                                        </b>
                                                    </p>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group col-lg-12 mx-auto mb-0 text-center">
                                        <div class="col-3"></div>
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-primary btn-block py-2" style="width: 100%;">
                                                <span class="font-weight-bold">Crear cuenta</span>
                                            </button>
                                        </div>
                                        <div class="col-3"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>
    </div>
    <div [ngbNavOutlet]="nav" class="container card mb-5 border-0 rounded-3 shadow-lg"></div>
</div>