<p-toast></p-toast>
<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
        <h2>Inicio de sesión</h2>
        <p>Puedes iniciar sesión o crear una cuenta.</p>
    </div>
</div>
<br>
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-5 d-flex align-items-stretch">
                <form [formGroup]="formLogin" (ngSubmit)="onLogin()" class="php-email-form">
                    <h3>Login</h3>
                    <div class="mt-5">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="name">Correo electrónico</label>
                                <input id="inputEmail" type="email" class="form-control" formControlName="username">
                                <small *ngIf="formLogin.get('username')?.errors && (formLogin.get('username')?.dirty ||
                                formLogin.get('username')?.touched)" class="p-error block">
                                    <small *ngIf="formLogin.get('username').errors?.required">
                                        Requerido
                                    </small>
                                </small>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="name">Contraseña</label>
                                <input id="inputPassword" type="password" formControlName="password"
                                    class="form-control">
                                <small *ngIf="formLogin.get('password')?.errors && (formLogin.get('password')?.dirty ||
                                formLogin.get('password')?.touched)" class="p-error block">
                                    <small *ngIf="formLogin.get('password').errors?.required">
                                        Requerido
                                    </small>
                                </small>
                            </div>
                            <div class="form-check mt-2">
                                <div class="custom-control custom-checkbox">

                                    <a href (click)="forgotPassWord($event)">
                                        <b>
                                            ¿Olvidaste la contraseña?
                                        </b>
                                    </a>
                                </div>
                            </div>
                            <div class="form-group col-12 mb-3 mt-3" style="text-align: center;">
                                <button type="submit" class="btn btn-primary btn-block py-2"
                                    style="width: 100%; background-color: #1E65AE;">Acceder
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <div class="info">
                    <h3>Registrate</h3>
                    <form [formGroup]="formNewUser" (ngSubmit)="onSaveUser()">
                        <div class="row">
                            <div class="col-6">
                                <div class="input-group mt-4">
                                    <span class="input-group-text">
                                        <i class="fa fa-user text-muted"></i>
                                    </span>
                                    <input id="firstName" type="text" name="firstname" placeholder="Nombre"
                                        formControlName="name" class="form-control bg-white border-left-0 border-md">
                                </div>
                                <small *ngIf="formNewUser.get('name')?.errors && (formNewUser.get('name')?.dirty ||
                                formNewUser.get('name')?.touched)" class="p-error block">
                                    <small *ngIf="formNewUser.get('name').errors?.required">
                                        Requerido
                                    </small>
                                </small>
                            </div>
                            <div class="col-6">
                                <div class="input-group mt-4">
                                    <span class="input-group-text ">
                                        <i class="fa fa-user text-muted"></i>
                                    </span>
                                    <input id="lastName" type="text" name="lastname" placeholder="Apellido"
                                        formControlName="lastname"
                                        class="form-control bg-white border-left-0 border-md">
                                </div>
                                <small *ngIf="formNewUser.get('lastname')?.errors && (formNewUser.get('lastname')?.dirty ||
                                formNewUser.get('lastname')?.touched)" class="p-error block">
                                    <small *ngIf="formNewUser.get('lastname').errors?.required">
                                        Requerido
                                    </small>
                                </small>
                            </div>
                            <div class="col-6">
                                <div class="input-group mt-4">
                                    <span class="input-group-text ">
                                        <i class="fa fa-envelope text-muted"></i>
                                    </span>
                                    <input id="email" type="email" name="email" placeholder="Correo electrónico"
                                        formControlName="email" class="form-control bg-white border-left-0 border-md">
                                </div>
                                <small *ngIf="formNewUser.get('email')?.errors && (formNewUser.get('email')?.dirty ||
                                formNewUser.get('email')?.touched)" class="p-error block">
                                    <small *ngIf="formNewUser.get('email').errors?.required">
                                        Requerido
                                    </small>
                                    <small *ngIf="formNewUser.get('email').errors?.userNameFound">
                                        Correo electrónico existente
                                    </small>
                                </small>
                            </div>
                            <div class="col-6">
                                <div class="input-group mt-4">
                                    <span class="input-group-text ">
                                        <i class="fa fa-phone-square text-muted"></i>
                                    </span>
                                    <input id="phoneNumber" type="tel" name="phone" placeholder="Teléfono"
                                        maxlength="10" formControlName="phoneNumber"
                                        (keypress)="sharedFuntions.enterOnlyNumbers($event)"
                                        class="form-control bg-white border-md border-left-0 pl-3">
                                </div>
                                <small *ngIf="formNewUser.get('phoneNumber')?.errors && (formNewUser.get('phoneNumber')?.dirty ||
                                formNewUser.get('phoneNumber')?.touched)" class="p-error block">
                                    <small *ngIf="formNewUser.get('phoneNumber').errors?.required">
                                        Requerido
                                    </small>
                                </small>
                            </div>
                            <div class="col-6 mt-2">
                                <span>Provincia</span>
                                <div class="input-group ">
                                    <span class="input-group-text ">
                                        <i class="fa fa-globe text-muted"></i>
                                    </span>
                                    <select id="provinica" name="nomprovi" formControlName="province"
                                        (change)="onChangueProvince($event)"
                                        class="form-control custom-select bg-white border-left-0 border-md">
                                        <!-- <option value="">Provincia</option> -->
                                        <ng-container *ngFor="let item of provinces">
                                            <option value="{{item.value}}">{{item.label}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                                <small *ngIf="formNewUser.get('province')?.errors && (formNewUser.get('province')?.dirty ||
                                formNewUser.get('province')?.touched)" class="p-error block">
                                    <small *ngIf="formNewUser.get('province').errors?.required">
                                        Requerido
                                    </small>
                                </small>
                            </div>
                            <div class="col-6 mt-2">
                                <span>Ciudad</span>
                                <div class="input-group ">
                                    <span class="input-group-text ">
                                        <i class="fa fa-globe text-muted"></i>
                                    </span>
                                    <select id="ciudad" name="nomciudad" formControlName="city"
                                        class="form-control custom-select bg-white border-left-0 border-md">
                                        <!-- <option value="">Ciudad</option> -->
                                        <ng-container *ngFor="let item of  cities">
                                            <option value="{{item.value}}">{{item.label}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                                <small *ngIf="formNewUser.get('city')?.errors && (formNewUser.get('city')?.dirty ||
                                formNewUser.get('city')?.touched)" class="p-error block">
                                    <small *ngIf="formNewUser.get('city').errors?.required">
                                        Requerido
                                    </small>
                                </small>
                            </div>
                            <div class="col-6">
                                <div class="input-group mt-4">
                                    <span class="input-group-text ">
                                        <i class="fa fa-lock text-muted"></i>
                                    </span>
                                    <input id="password" type="password" name="password" placeholder="Contraseña"
                                        formControlName="password"
                                        class="form-control bg-white border-left-0 border-md">
                                </div>
                                <small *ngIf="formNewUser.get('password')?.errors && (formNewUser.get('password')?.dirty ||
                                formNewUser.get('password')?.touched)" class="p-error block">
                                    <small *ngIf="formNewUser.get('password').errors?.required">
                                        Requerido
                                    </small>
                                </small>
                            </div>
                            <div class="col-6">
                                <div class="input-group mt-4">
                                    <span class="input-group-text ">
                                        <i class="fa fa-lock text-muted"></i>
                                    </span>
                                    <input id="passwordConfirmation" type="password" name="passwordConfirmation"
                                        formControlName="passwordConfirmation" placeholder="Confirmar contraseña"
                                        class="form-control bg-white border-left-0 border-md">
                                </div>
                                <small
                                    *ngIf="formNewUser.controls.passwordConfirmation.errors && formNewUser.controls.passwordConfirmation.touched"
                                    style='color:#ff7355'>
                                    <small *ngIf="formNewUser.controls.passwordConfirmation.errors?.required">
                                        Requerido
                                    </small>
                                    <small *ngIf="formNewUser.controls.passwordConfirmation.errors?.mustMatch">Las
                                        contraseñas
                                        deben coincidir</small>
                                </small>
                            </div>
                            <div class="col-12">
                                <div class="form-check mt-4">
                                    <div class="custom-control custom-checkbox">
                                        <input id="customCheck2" type="checkbox" class="form-check-input"
                                            formControlName="conditions">
                                        <label for="customCheck2" class="form-check-label">
                                            <p>
                                                <b>
                                                    Acepta terminos y
                                                    condiciones
                                                    del
                                                    servicio.
                                                </b>
                                            </p>
                                        </label>
                                    </div>
                                </div>
                                <small *ngIf="formNewUser.get('conditions')?.errors && (formNewUser.get('conditions')?.dirty ||
                                formNewUser.get('conditions')?.touched)" class="p-error block">
                                    <small *ngIf="formNewUser.get('conditions').errors?.required">
                                        Requerido
                                    </small>
                                </small>
                            </div>
                            <div class="input-group col-lg-12 mx-auto mb-0 text-center">
                                <div class="col-3"></div>
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary btn-block py-2"
                                        style="width: 100%; background-color: #1E65AE;">
                                        <span class="font-weight-bold">Crear cuenta</span>
                                    </button>
                                </div>
                                <div class="col-3"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<p-dialog header="Cambiar contraseña" [(visible)]="showChangePass" [style]="{width: '40vw'}" modal="true" (onHide)="onHide($event)">
    <form [formGroup]="formPassword" (ngSubmit)="onPasschanged()">
        <div class="row">
            <div class="col-12">
                <div class="input-group mt-4">
                    <span class="input-group-text ">
                        <i class="fa fa-lock text-muted"></i>
                    </span>
                    <input id="password" type="password" name="password" placeholder="Contraseña"
                        formControlName="newpassword" class="form-control bg-white border-left-0 border-md">
                </div>
                <small *ngIf="formPassword.get('newpassword')?.errors && (formPassword.get('newpassword')?.dirty ||
                formPassword.get('newpassword')?.touched)" class="p-error block">
                    <small *ngIf="formPassword.get('newpassword').errors?.required">
                        Requerido
                    </small>
                </small>
            </div>
            <div class="col-12">
                <div class="input-group mt-4">
                    <span class="input-group-text ">
                        <i class="fa fa-lock text-muted"></i>
                    </span>
                    <input id="passwordConfirmation" type="password" name="passwordConfirmation"
                        formControlName="repassword" placeholder="Repita contraseña"
                        class="form-control bg-white border-left-0 border-md">
                </div>
                <small *ngIf="formPassword.controls.repassword.errors && formPassword.controls.repassword.touched"
                    style='color:#ff7355'>
                    <small *ngIf="formPassword.controls.repassword.errors?.required">
                        Requerido
                    </small>
                    <small *ngIf="formPassword.controls.repassword.errors?.mustMatch">Las
                        contraseñas
                        deben coincidir</small>
                </small>
            </div>
            <div class="col-6 mt-5">
                <button type="button" class="btn btn-warning btn-block py-2" style="width: 100%; color: whitesmoke;"
                    (click)="onPasschangedCancel()">
                    <span class="font-weight-bold">Cancelar</span>
                </button>
            </div>
            <div class="col-6 mt-5">
                <button type="submit" class="btn btn-primary btn-block py-2"
                    style="width: 100%; background-color: #1E65AE;">
                    <span class="font-weight-bold">Guardar contraseña</span>
                </button>
            </div>
        </div>
    </form>

</p-dialog>
<p-dialog header="Recuperar contraseña" [(visible)]="showForgotPass" modal="true" (onHide)="onHideFogot($event)">
    <form [formGroup]="formForgotPassword" (ngSubmit)="onPassForgot()">

        <div class="row">
            <div class="col-12">
                <div class="input-group mt-4">
                    <span class="input-group-text ">
                        <i class="fa fa-lock text-muted"></i>
                    </span>
                    <input id="usernameforgot" type="text" name="usernameforgot" placeholder="Usuario"
                        formControlName="username" class="form-control bg-white border-left-0 border-md">
                </div>
                <small *ngIf="formForgotPassword.get('username')?.errors && (formForgotPassword.get('username')?.dirty ||
                formForgotPassword.get('username')?.touched)" class="p-error block">
                    <small *ngIf="formForgotPassword.get('username').errors?.required">
                        Requerido
                    </small>
                </small>
            </div>
            <div class="col-6 mt-4">
                <button type="button" class="btn btn-warning btn-block py-2" style="width: 100%; color: white;"
                    (click)="onPassForgotCancel()">
                    <span class="font-weight-bold">Cancelar</span>
                </button>
            </div>
            <div class="col-6 mt-4">
                <button type="submit" class="btn btn-primary btn-block py-2"
                    style="width: 100%; background-color: #1E65AE;">
                    <span class="font-weight-bold">Solicitar contraseña</span>
                </button>
            </div>
        </div>
    </form>
</p-dialog>
<p-dialog header="Contraseña temporal generada" [(visible)]="confirmDialog" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <p class="p-m-0">
        Tu contraseña ha sido reestablecida, te llegará un correo con la nueva contraseña temporal para que
        puedas accerder al sistema y crear una nueva.
        <br>
        Saludos.
    </p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="hideLastDialog()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>